@{
    ViewData["Title"] = "Categories";
}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-config icon-gradient bg-tempting-azure">
                </i>
            </div>
            <div>
                Categories
                <div class="page-title-subheading">
                    <a title="Home" href="@Url.Content("~/Home")">Home</a> / Categories
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Welcome to categories management</h2>
    </div>
</div>